{% extends "layouts/default.html" %}

{% block content %}
  <div class="container">
    <h1>{{ project.title }}</h1>
    <p class="lead">{{ project.description }}</p>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 d-flex flex-wrap">
      <div class="col">
        <div class="gray-column rounded shadow-none py-2 px-3">
          <h2 class="h5 text-secondary my-2">To Do</h2>

          {% for task in tasks %}
            <div class="card rounded-3 shadow-sm border-0 my-2">
              <div class="card-body">
                <div class="card-text">{{ task.title }}</div>
                <div class="d-flex flex-row justify-content-end align-items-center gap-3">
                  <small>TASK-{{ task.id }}</small>
                  <div class="avatar bg-danger text-white">DS</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col">
        <div class="gray-column rounded py-2 px-3">
          <h2 class="h5 text-secondary my-2">In Progress</h2>

          {% for task in tasks %}
            <div class="card rounded-3 shadow-sm border-0 my-2">
              <div class="card-body">
                <div class="card-text">{{ task.title }}</div>
                <div class="d-flex flex-row justify-content-end align-items-center gap-3">
                  <small>TASK-{{ task.id }}</small>
                  <div class="avatar bg-danger text-white">DS</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col">
        <div class="gray-column rounded py-2 px-3">
          <h2 class="h5 text-secondary my-2">Done</h2>

          {% for task in tasks %}
            <div class="card rounded-3 shadow-sm border-0 my-2">
              <div class="card-body">
                <div class="card-text">{{ task.title }}</div>
                <div class="d-flex flex-row justify-content-end align-items-center gap-3">
                  <small>TASK-{{ task.id }}</small>
                  <div class="avatar bg-danger text-white">DS</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}